$class: "footer";

.#{$class} {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2rem;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  background-color: $pearl-bush;
}
