// Header

$class: "top-menu";

.#{$class} {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.#{$class}-link {
  padding: .5rem .8rem;
  border-bottom: none;
  color: $white;
  font-weight: 900;
  text-decoration: none;

  &:hover {
    color: $de-york;
  }

  .active > & {
    color: $de-york;
  }
}
