extends ../_layout/base

block settings
  - title = 'Docs for StartIt';
  - description = 'Docs for all tasks';
  - currentUrl = 'docs/docs.html';

block content
  h1 #{title}!
  include:markdown-it ../../docs/BUILD-TOOLS.md
