if currentUrl
  - currentUrl= currentUrl
else
  - currentUrl = './';

- basePath = (path) => `${path}`;

ul.top-menu
  each menuItem in data.menu
    li.top-menu-item(class={active: currentUrl === menuItem.link})
      a.top-menu-link(href=basePath(menuItem.link)) #{menuItem.label}
