//- contact.pug
extends _layout/base

block settings
  - title = 'Contact me';
  - description = 'You can find my details on this page.';
  - currentUrl = 'contact.html';

block content
  h1 #{title}!
