//- index.pug
extends layout/_base

block settings
  - title = 'Welcome to StartIt';
  - description = 'Simple starter project aimed to quickly deliver your projects';
  - currentUrl = 'index.html';

block content
  include includes/_hero
