//- test.pug
extends _layout/base

block settings
  - title = 'Test picture tag';
  - description = 'Test modern image formats';
  - currentUrl = 'test.html';

block content
  h1 #{title}!

  //- https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images
  picture
    source(type="image/webp" srcset="images/november.webp")
    source(type="image/svg+xml" srcset="images/bitbee.svg")
    source(type="image/jpeg" srcset="images/november.jpg")
    img(src="images/november.jpg" alt="November!")
