// Layout

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  color: $zambezi;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  animation: gradient 15s ease infinite;
}
