//- partial/footer.pug
include ../_mixins/link
footer.footer
  //- .container
  //-   .row
  //-     .col-12
  .footer-year
    | &copy; #{(new Date()).getFullYear()}
  .footer-link
    | Powered by #[+link('https://github.com/adorade/startit', 'Start It').btn]
