doctype html
html(lang="en")
  block settings

  head
    block head
      include ../_partials/head
      include ../_partials/statics
    block fonts
      include ../_partials/fonts
    block styles
      include ../_partials/styles

  body
    block header
      include ../_partials/header
    block content
    block footer
      include ../_partials/footer
    block scripts
      include ../_partials/scripts
